@import "tailwindcss";

@font-face {
    font-family: 'Montserrat';
    src: url('/fonts/Montserrat-Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'MontserratExtraBold';
    src: url('/fonts/Montserrat-ExtraBold.woff2') format('woff2');
}
  
body, header{
    font-family: 'Montserrat', sans-serif;
}
#carrousel-gallery{
    font-family: 'MontserratExtraBold', sans-serif;
}
.op-05{background-color: rgba(0,0,0,0.5);}
#accordion div{display: none;}
#accordion input:checked + div {
    display: block;
}