@import "tailwindcss";

@font-face {
    font-family: 'Montserrat';
    src: url('/fonts/Montserrat-Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'MontserratBold';
    src: url('/fonts/Montserrat-Bold.woff2') format('woff2');
}

@font-face {
    font-family: 'MontserratExtraBold';
    src: url('/fonts/Montserrat-ExtraBold.woff2') format('woff2');
}
  
body, header{
    font-family: 'Montserrat', sans-serif;
}
#carrousel-gallery{
    font-family: 'MontserratExtraBold', sans-serif;
}
.op-05{background-color: rgba(0,0,0,0.5);}
#accordion div{display: none;}
#accordion input:checked + div {
    display: block;
}
#contacto-b:hover{background-color: rgba(0,0,0,0.5)}

.card-container {
    @apply flex gap-2 items-center rounded-xl shadow-[4px_4px_4px_2px_rgba(0,_0,_0,_0.2)] border border-gray-100 p-6 w-80 space-y-4 sm:block;
}
.card-img{
    /*@apply min-h-12 max-h-14 my-auto md:mx-auto md:my-0;*/
}
.card-title{
    @apply text-xl font-semibold text-[#e20719] md:text-2xl
}
.card-text{
    @apply text-gray-400 mt-2 text-sm font-bold md:text-base
}