---
const { image, title="Título", description="Descripción" } = Astro.props;
---

<div class="card-container">
    <img src={image} alt={title} class="card-img"/>
    <div class="text-center">
        <h2 class="card-title">{title}</h2>
        <p class="card-text">{description}</p>
    </div>
</div>