---
const { image, title="Título", description="Descripción" } = Astro.props;
---

<div class="card-container">
    <div class="max-w-18 md:mx-auto">
        <img src={image} alt={title} class="w-full"/>
    </div>
    <div class="md:text-center">
        <h2 class="card-title">{title}</h2>
        <p class="card-text">{description}</p>
    </div>
</div>