---
import mantenor from "../assets/svg/ccm-brand.svg"
---
<footer class="bg-linear-to-t from-[#012013] to-[#25704F] text-gray-100 xl:px-20 sm:py-10 py-10 p-4">
    <section class="grid grid-cols-2 gap-8 lg:[&>div]:px-4">
        <div class="mx-auto lg:mx-0 col-span-2 md:col-span-1 order-2 lg:order-1 py-10 md:py-0">
            <h2 class="ms-4 text-2xl font-bold underline" id="contacto">Contacto</h>
            <ul class="[&>li]:flex [&>li]:gap-2 text-sm md:text-lg space-y-2 md:space-y-0 mt-4">
                <li>
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-whatsapp" viewBox="0 0 16 16">
                        <path d="M13.601 2.326A7.85 7.85 0 0 0 7.994 0C3.627 0 .068 3.558.064 7.926c0 1.399.366 2.76 1.057 3.965L0 16l4.204-1.102a7.9 7.9 0 0 0 3.79.965h.004c4.368 0 7.926-3.558 7.93-7.93A7.9 7.9 0 0 0 13.6 2.326zM7.994 14.521a6.6 6.6 0 0 1-3.356-.92l-.24-.144-2.494.654.666-2.433-.156-.251a6.56 6.56 0 0 1-1.007-3.505c0-3.626 2.957-6.584 6.591-6.584a6.56 6.56 0 0 1 4.66 1.931 6.56 6.56 0 0 1 1.928 4.66c-.004 3.639-2.961 6.592-6.592 6.592m3.615-4.934c-.197-.099-1.17-.578-1.353-.646-.182-.065-.315-.099-.445.099-.133.197-.513.646-.627.775-.114.133-.232.148-.43.05-.197-.1-.836-.308-1.592-.985-.59-.525-.985-1.175-1.103-1.372-.114-.198-.011-.304.088-.403.087-.088.197-.232.296-.346.1-.114.133-.198.198-.33.065-.134.034-.248-.015-.347-.05-.099-.445-1.076-.612-1.47-.16-.389-.323-.335-.445-.34-.114-.007-.247-.007-.38-.007a.73.73 0 0 0-.529.247c-.182.198-.691.677-.691 1.654s.71 1.916.81 2.049c.098.133 1.394 2.132 3.383 2.992.47.205.84.326 1.129.418.475.152.904.129 1.246.08.38-.058 1.171-.48 1.338-.943.164-.464.164-.86.114-.943-.049-.084-.182-.133-.38-.232"/>
                    </svg>
                    <a href="https://wa.me/+543885042704?phone=+543885042704&amp;" target="_blank">+543885042704</a>
                </li>
                <li>
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-whatsapp" viewBox="0 0 16 16">
                        <path d="M13.601 2.326A7.85 7.85 0 0 0 7.994 0C3.627 0 .068 3.558.064 7.926c0 1.399.366 2.76 1.057 3.965L0 16l4.204-1.102a7.9 7.9 0 0 0 3.79.965h.004c4.368 0 7.926-3.558 7.93-7.93A7.9 7.9 0 0 0 13.6 2.326zM7.994 14.521a6.6 6.6 0 0 1-3.356-.92l-.24-.144-2.494.654.666-2.433-.156-.251a6.56 6.56 0 0 1-1.007-3.505c0-3.626 2.957-6.584 6.591-6.584a6.56 6.56 0 0 1 4.66 1.931 6.56 6.56 0 0 1 1.928 4.66c-.004 3.639-2.961 6.592-6.592 6.592m3.615-4.934c-.197-.099-1.17-.578-1.353-.646-.182-.065-.315-.099-.445.099-.133.197-.513.646-.627.775-.114.133-.232.148-.43.05-.197-.1-.836-.308-1.592-.985-.59-.525-.985-1.175-1.103-1.372-.114-.198-.011-.304.088-.403.087-.088.197-.232.296-.346.1-.114.133-.198.198-.33.065-.134.034-.248-.015-.347-.05-.099-.445-1.076-.612-1.47-.16-.389-.323-.335-.445-.34-.114-.007-.247-.007-.38-.007a.73.73 0 0 0-.529.247c-.182.198-.691.677-.691 1.654s.71 1.916.81 2.049c.098.133 1.394 2.132 3.383 2.992.47.205.84.326 1.129.418.475.152.904.129 1.246.08.38-.058 1.171-.48 1.338-.943.164-.464.164-.86.114-.943-.049-.084-.182-.133-.38-.232"/>
                    </svg>
                    <a href="https://wa.me/+543816372156?phone=+543816372156&amp;" target="_blank">+543816372156</a>
                </li>
                <li>
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-envelope" viewBox="0 0 16 16">
                        <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1zm13 2.383-4.708 2.825L15 11.105zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741M1 11.105l4.708-2.897L1 5.383z"/>
                    </svg>
                    <a href="mailto:aldo.rissi@crearmantenimiento.com.ar">aldo.rissi@crearmantenimiento.com.ar</a>
                </li>
                <li>
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-geo-alt" viewBox="0 0 16 16">
                        <path d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A32 32 0 0 1 8 14.58a32 32 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10"/>
                        <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4m0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6"/>
                    </svg>
                    <a href="https://maps.app.goo.gl/Z43MMMQRUBiD1NScA" target="_blank">Muñecas 2657 - SM de Tucumán</a>
                </li>
            </ul>
            <div class="w-auto sm:w-2/3 my-8 mx-auto md:mx-0">
                <img src={mantenor.src} alt="Logo mantenor" loading="lazy">
            </div>
        </div>
        <div class="col-span-2 md:col-span-1 order-1 lg:order-2">
            <h2 class="ms-4 text-2xl font-bold text-center">Asesoramiento</h2>
            <p class="text-center my-2">¿Necesitas comunicarte con nosotros? Escribinos</p>
            <form id="fcontacto" class="md:mt-8 flex-col space-y-2 [&>input]:placeholder:text-gray-400 [&>input]:placeholder:font-bold [&>input]:w-full text-slate-800">
                <div class="flex flex-col lg:flex-row gap-2 lg:gap-4 mb-4 justify-between lg:justify-start">
                    <div class="flex align-items-center mr-4">
                        <div class="inline-flex items-center cursor-pointer">
                            <input type="radio" 
                                class="peer appearance-none w-5 h-5 border border-gray-300 rounded-full 
                                checked:bg-green-500 checked:border-green-500 transition-colors" 
                                id="check_consulta" 
                                name="check_tipo" 
                                value="1" checked="">
                            <label for="check_consulta"></label>        
                        </div>    
                        <label for="check_consulta" class="text-white ml-2">Dudas o consultas</label>
                    </div>

                    <div class="flex align-items-center">
                        <div class="inline-flex items-center cursor-pointer">
                            <input type="radio" 
                                class="peer appearance-none w-5 h-5 border border-gray-300 rounded-full 
                                checked:bg-green-500 checked:border-green-500 transition-colors" 
                                id="check_trabajar" 
                                name="check_tipo" 
                                value="2">
                            <label for="check_trabajar"></label>        
                        </div>    
                        <label for="check_trabajar" class="text-white ml-2">Quieres trabajar con nosotros</label>
                    </div>
                </div>
                <input type="text" name="nombre" id="nombre" class="input" placeholder="Nombre y apellido*">
                <input type="email" name="email" id="email" class="input" placeholder="E-mail*">
                <input type="text" name="telefono" id="telefono" class="input" placeholder="Teléfono (con código de área)*">
                <textarea name="consulta" id="consulta" placeholder="Mensaje*" rows="5" class="input w-full placeholder:text-gray-400 placeholder:font-bold"></textarea>
                <input type="file" name="archivo" id="archivo" 
                    class="hidden w-full text-sm text-slate-500
                        file:mr-4 file:py-2 file:px-4 file:rounded-md file:border-0 file:text-sm file:font-semibold 
                        file:bg-green-50 file:text-green-700 hover:file:bg-green-100" 
                    placeholder="Adjuntar archivo"
                    accept=".pdf">

                <div class="text-end md:flex md:justify-end">
                    <button id="fsubmit" type="submit" class="cursor-pointer bg-gray-100 text-center text-[#1e8055] rounded-md py-1 md:w-1/2 font-bold w-full flex justify-center">
                        <span id="floader" class="hidden">
                            <svg fill="#d60719" width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M10.14,1.16a11,11,0,0,0-9,8.92A1.59,1.59,0,0,0,2.46,12,1.52,1.52,0,0,0,4.11,10.7a8,8,0,0,1,6.66-6.61A1.42,1.42,0,0,0,12,2.69h0A1.57,1.57,0,0,0,10.14,1.16Z"><animateTransform attributeName="transform" type="rotate" dur="0.75s" values="0 12 12;360 12 12" repeatCount="indefinite"/></path></svg>
                        </span>
                        <span id="fspan"><b>Enviar formulario</b></span>
                    </button>
                </div>
            </form>
            <div class="bg-gray-100 p-2 rounded mt-4 hidden" id="fresponse">
                <p class="text-green-600 hidden" id="fsuccess"><b>Su consulta fue cargada con éxito, nos comunicaremos a la brevedad</b></p>
                <p class="text-[#d60719] hidden" id="ferror"><b>Hubo un error al cargar su consulta, verifique los datos ingresados e intente nuevamente</b></p>
            </div>
        </div>        
    </section>    
    <div class="text-center lg:mt-8">
        <div class="flex gap-4 justify-center my-4">
            <a href="#">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-facebook" viewBox="0 0 16 16">
                    <path d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951"/>
                </svg>
            </a>
            <a href="#">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-instagram" viewBox="0 0 16 16">
                    <path d="M8 0C5.829 0 5.556.01 4.703.048 3.85.088 3.269.222 2.76.42a3.9 3.9 0 0 0-1.417.923A3.9 3.9 0 0 0 .42 2.76C.222 3.268.087 3.85.048 4.7.01 5.555 0 5.827 0 8.001c0 2.172.01 2.444.048 3.297.04.852.174 1.433.372 1.942.205.526.478.972.923 1.417.444.445.89.719 1.416.923.51.198 1.09.333 1.942.372C5.555 15.99 5.827 16 8 16s2.444-.01 3.298-.048c.851-.04 1.434-.174 1.943-.372a3.9 3.9 0 0 0 1.416-.923c.445-.445.718-.891.923-1.417.197-.509.332-1.09.372-1.942C15.99 10.445 16 10.173 16 8s-.01-2.445-.048-3.299c-.04-.851-.175-1.433-.372-1.941a3.9 3.9 0 0 0-.923-1.417A3.9 3.9 0 0 0 13.24.42c-.51-.198-1.092-.333-1.943-.372C10.443.01 10.172 0 7.998 0zm-.717 1.442h.718c2.136 0 2.389.007 3.232.046.78.035 1.204.166 1.486.275.373.145.64.319.92.599s.453.546.598.92c.11.281.24.705.275 1.485.039.843.047 1.096.047 3.231s-.008 2.389-.047 3.232c-.035.78-.166 1.203-.275 1.485a2.5 2.5 0 0 1-.599.919c-.28.28-.546.453-.92.598-.28.11-.704.24-1.485.276-.843.038-1.096.047-3.232.047s-2.39-.009-3.233-.047c-.78-.036-1.203-.166-1.485-.276a2.5 2.5 0 0 1-.92-.598 2.5 2.5 0 0 1-.6-.92c-.109-.281-.24-.705-.275-1.485-.038-.843-.046-1.096-.046-3.233s.008-2.388.046-3.231c.036-.78.166-1.204.276-1.486.145-.373.319-.64.599-.92s.546-.453.92-.598c.282-.11.705-.24 1.485-.276.738-.034 1.024-.044 2.515-.045zm4.988 1.328a.96.96 0 1 0 0 1.92.96.96 0 0 0 0-1.92m-4.27 1.122a4.109 4.109 0 1 0 0 8.217 4.109 4.109 0 0 0 0-8.217m0 1.441a2.667 2.667 0 1 1 0 5.334 2.667 2.667 0 0 1 0-5.334"/>
                </svg>
            </a>
            <a href="https://wa.me/+543816372156?phone=+543816372156&amp;">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-whatsapp" viewBox="0 0 16 16">
                    <path d="M13.601 2.326A7.85 7.85 0 0 0 7.994 0C3.627 0 .068 3.558.064 7.926c0 1.399.366 2.76 1.057 3.965L0 16l4.204-1.102a7.9 7.9 0 0 0 3.79.965h.004c4.368 0 7.926-3.558 7.93-7.93A7.9 7.9 0 0 0 13.6 2.326zM7.994 14.521a6.6 6.6 0 0 1-3.356-.92l-.24-.144-2.494.654.666-2.433-.156-.251a6.56 6.56 0 0 1-1.007-3.505c0-3.626 2.957-6.584 6.591-6.584a6.56 6.56 0 0 1 4.66 1.931 6.56 6.56 0 0 1 1.928 4.66c-.004 3.639-2.961 6.592-6.592 6.592m3.615-4.934c-.197-.099-1.17-.578-1.353-.646-.182-.065-.315-.099-.445.099-.133.197-.513.646-.627.775-.114.133-.232.148-.43.05-.197-.1-.836-.308-1.592-.985-.59-.525-.985-1.175-1.103-1.372-.114-.198-.011-.304.088-.403.087-.088.197-.232.296-.346.1-.114.133-.198.198-.33.065-.134.034-.248-.015-.347-.05-.099-.445-1.076-.612-1.47-.16-.389-.323-.335-.445-.34-.114-.007-.247-.007-.38-.007a.73.73 0 0 0-.529.247c-.182.198-.691.677-.691 1.654s.71 1.916.81 2.049c.098.133 1.394 2.132 3.383 2.992.47.205.84.326 1.129.418.475.152.904.129 1.246.08.38-.058 1.171-.48 1.338-.943.164-.464.164-.86.114-.943-.049-.084-.182-.133-.38-.232"/>
                </svg>
            </a>
        </div>
        <p>&copy; 2025 - Todos los derechos reservados</p>
    </div>
</footer>
<script>
    const $fcontacto = document.getElementById('fcontacto');
    const $fsubmit = document.getElementById('fsubmit');
    const $fspan = document.getElementById('fspan');
    const $floader = document.getElementById('floader');
    const $fresponse = document.getElementById('fresponse');
    const $fsuccess = document.getElementById('fsuccess');
    const $ferror = document.getElementById('ferror');

    $fcontacto?.addEventListener('submit',async (e)=>{
        e.preventDefault();
        const fData = new FormData($fcontacto as HTMLFormElement);
        const tipo = ($fcontacto.querySelector('input[name="check_tipo"]:checked') as HTMLInputElement | null)?.value;
        const archivo = document.getElementById('archivo') as HTMLInputElement;

        $ferror?.classList.add('hidden');
        $fsuccess?.classList.add('hidden');
        $fresponse?.classList.add('hidden');

        if (tipo === "2") {
            if (!archivo.files || !archivo.files.length) {
                alert('Debes adjuntar un archivo PDF.');
                return;
            }

            const file = archivo.files[0];
            if (file.type !== "application/pdf") {
                alert('El archivo debe ser un PDF.');
                return;
            }
        }

        if(dentroExpiracion()){
            alert('Usted acabá de generar una consulta, intente nuevamente en 20 minutos');
            return;
        }
        try {
            $floader?.classList.remove('hidden');
            $fsubmit?.setAttribute('disabled', 'true');
            $fspan?.classList.add('hidden');
            const pet = await fetch('./index.php', {
                method:'POST',
                body: fData
            })
            
            if(pet.ok){
                const response = await pet.json();
                console.log(response);
                setExpiracion();
                $fresponse?.classList.remove('hidden');
                $fsuccess?.classList.remove('hidden');
            }else{
                throw 'Error al cargar el formulario';
            }
        } catch (error) {
            $fresponse?.classList.remove('hidden');
            $ferror?.classList.remove('hidden');
            console.log(error);
        }finally{
            $floader?.classList.add('hidden');
            $fsubmit?.removeAttribute('disabled');
            $fspan?.classList.remove('hidden');
        }
    })

    // Function to add 20 minutes and save to localStorage
    function setExpiracion() {
        const now = new Date();
        now.setMinutes(now.getMinutes() + 20); // Add 20 minutes
        localStorage.setItem("expiracion", now.getTime()+""); // Save as timestamp
    }

    // Function to check if the current time is within 20 minutes
    function dentroExpiracion(){
        const exp = localStorage.getItem("expiracion") as any;
        if (!exp) return false; // If no expiry time, return false
        
        const now = new Date().getTime(); // Get current timestamp
        return now <= exp; // Compare current time with expiry
    }
    
</script>

<script is:inline>
  document.getElementById('check_consulta')?.addEventListener('change', mostrarOcultarInputFile);
  document.getElementById('check_trabajar')?.addEventListener('change', mostrarOcultarInputFile);

  function mostrarOcultarInputFile() {
    const checkTrabajar = document.getElementById('check_trabajar');
    const inputFile = document.getElementById('archivo');
    if (checkTrabajar && inputFile) {
        if(checkTrabajar.checked){
            inputFile.classList.remove('hidden')
        }else{
            inputFile.classList.add('hidden');
            inputFile.value = null;
            inputFile.files = null;
        }
    }
  }
</script>