---
import CardSimpleRed from "./CardSimpleRed.astro";
import mensual from "../assets/svg/mensual.svg"
import correctivos from "../assets/svg/correctivos.svg"
import urgencias from "../assets/svg/urgencias.svg"
---

<section class="my-14">
    <h1 class="text-[#e20719] text-4xl font-extrabold text-center">Modalidades de trabajo</h1>
    <div class="flex flex-wrap gap-4 justify-evenly mt-14">
        <CardSimpleRed image={mensual.src} title="MTM Preventivos" description="Visitas mensuales programadas de mantenimiento."/>
        <CardSimpleRed image={correctivos.src} title="MTM Correctivos" description="Trabajos programados y acordados con el cliente."/>
        <CardSimpleRed image={urgencias.src} title="Urgencias" description="Guardia pasiva 24/7 para atender urgencias"/>
    </div>
</section>