---
import About from "../components/About.astro";
import Carrousel from "../components/Carrousel.astro";
import Header from "../components/Header.astro";
import Separator from "../components/Separator.astro";
import Modalidades from "../components/Modalidades.astro";
import "../styles/global.css";
import Servicios from "../components/Servicios.astro";
import Footer from "../components/Footer.astro";
---

<!doctype html>
<html lang="en" class="scroll-smooth">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no"/>
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro Basics</title>
	</head>
	<body class="overflow-x-hidden">
		<Header/>
		<Carrousel/>
		<Separator resaltado="Mantenimiento preventivo y correctivo" regular="para instalaciones industriales y comerciales"/>
		<About/>
		<Modalidades/>
		<Servicios/>
		<Footer/>
	</body>
</html>
